# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Production
build/

# Misc.
.DS_Store

# Environmental Variable Files
.env*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Webstorm Config
.idea/
